body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.banner {
    background-color: #f44336;
    color: #fff;
    padding: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: none;
}

@media (max-width: 600px) {
    .banner {
        display: block;
    }
}

body {
    overflow: hidden; /* Hide scroll on mobile devices */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #00C4FF, #B3FFAB, #FABE50, #FF4E50, #F6D600, #00C4FF);
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite, psychedelicEffect 5s ease infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes psychedelicEffect {
    0% {
        filter: hue-rotate(0deg) saturate(100%);
    }

    100% {
        filter: hue-rotate(360deg) saturate(200%);
    }
}

.chatbot {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #886d6d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
